html{
  height: 100%;

}
body {
min-height: 100%;
font-family: sans-serif;
}

.inner-wrapper,
.wrapper,
.middle-wrapper {
  background-color: transparent;
}

.hidden {
  display: none;
}

.middle-wrapper,
.js-timer {
  display: flex;
  justify-content: center;
}

.quote-wrapper,
.time-wrapper,
.local-wrapper {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 버튼 */
.btn {
  background-color: #fff;
 font-weight: bold;
  margin: 10px;
  padding: 10px 20px;

  border-style: 10px #224;

  border-radius: 20px;
}
